//- template
extends ./template/base

//- content
block content
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ullam totam, tempora odio, sit voluptate voluptatum minus iusto ipsam maxime dolor eveniet commodi vel atque tenetur autem alias, vitae dolorum!
