//- template
extends ./template/base

//- content
block content
  a.fab(href='https://github.com/renancouto/gmd-readme', title='View on Github')
    include ../img/icon-github.svg

  .main-wrapper
    article.card
      include:markdown ../../README.md
