// Settings

$settings: (
  bg-color     : $md-color-grey--200,
  bar-color    : $md-color-green--400,
  fab-color    : $md-color-indigo--500,
  icon-color   : #fff,
  text-color   : $md-color-grey--800,
  link-color   : $md-color-cyan--600,
  border-color : $md-color-grey--200,

  hero-img     : '../img/material-design-wallpaper-blue.png',

  bar-height   : 14rem,
  fab-dim      : 3.5rem
);
