// Body

$selector: 'body'

.#{$selector}
  +breakpoint(md)
    background: value($settings, bg-color)

  &:before
    content: ''
    position: fixed
    background: value($settings, bar-color)
    +size(100% value($settings, bar-height))
