// FAB

$selector: 'fab'

.#{$selector}
  $dim: value($settings, fab-dim)

  background: value($settings, fab-color)
  border-radius: 50%
  box-shadow: value($shadows, 1)
  display: flex
  flex-direction: column
  justify-content: center
  position: fixed
  right: $dim/3
  bottom: $dim/3
  transition: 0.2s
  z-index: 1
  +size($dim)

  .body &
    color: value($settings, icon-color)

  +breakpoint(md)
    bottom: auto
    top: value($settings, bar-height) - $dim/2

  &:hover
    box-shadow: value($shadows, 2)

  svg
    transform: scale(1.5)
    margin: auto
